<h1>Welcome to the Home Page</h1>
<% @pages.each do |pages| %>
<a href="/<%=pages[:id]%>">
  <h3><%= pages[:title] %></h3>
</a>
<a href="/<%=pages[:id]%>/edit">Edit</a>

<form action="/<%=pages[:id]%>" method="post">
  <input type="submit" value="DELETE">
  <input type="hidden" name="_method" value="DELETE">
</form>

<% end %>
